<% if signed_in? %>
  <%= render 'shared/microposts' %>

  <section>
        <%= render 'shared/user_info' %>
      </section>
  <section>
        <%= render 'shared/stats' %>
  </section>


<% else %>
  <%= render 'shared/welcome' %>
<% end %>